body{
    height: 90vh;
    background-color: aquamarine;
}
h1{
    text-align: center;
    font-size: 60px;
}

.large_laptop,
.laptop,
.tablet,
.mobile{
    font-size: 40px;
    text-align: center;
    display: none ;
}

@media screen and (max-width: 1440px){
    body{
        background-color: brown;

    }
    .large_laptop{
        display: block;
    }
}
@media screen and (max-width: 1024px){
    body{
        background-color: chartreuse;
    }
    .large_laptop{
        display: none;
    }
    .laptop{
        display: block;
    }
    
}
@media screen and (max-width: 786px){
    body{        
        background-color: darkorange;
    }
    .large_laptop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: block;
    }
}

@media screen and (max-width: 425px){
    body{
        background-color: darkolivegreen;
    }
    .large_laptop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: block;
    }

}
@media screen and (max-width){}

